body{
    background: #fff;
   
    
    
   

    .container{
        max-width: 500px;
        max-height: fit-content;
        margin: 50px;
        
    
        .about-box{
            text-align: center;
            display: block;
            font-size: 20px;
            font-weight: 300;
            
        }
    }
}

