body{
    background: #fff;
   
    
    
   

    .container{
        margin: 50px;
        padding: 50px;
        
        
        
    
        .about-box{
            text-align: center;
            font-size: 20px;
            font-weight: 300;
            
        }
    }
}

