footer{
    background: $offWhite;


    h1{
        font-family: sans-serif;
        font-weight: normal;
        font-size: 25px;
        letter-spacing: 4px;
        padding: 200px 0 100px;
        color: #555;
        text-align: center;
    }

    .social-media{
        display: flex;
        justify-content: center;
    }
}